.app {
	width: auto;
	height: 100vh;
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
}
.form {
	min-width: 200px;
	width: 30vw;
	height: 20em;
	border-radius: 10px;background-color: #ffffff;
	border: 0.3px solid;


	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
input {
	width: 25vw;
	height: 2em;
	border-radius: 10px;
	font-size: 15px;
}
button {
	width: 8vw;
	height: 2em;
}
