.HeaderRbo {
	width: auto;
	height: 12vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
    background-color: #ffffff;
}
.RBO {
	width: 30%;
}
.RBO p {
	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}

.rboButtons {
	width: 26%;
	display: flex;
    gap: 26px;
}
.rboButtons a {
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	text-align: center;

	color: #000000;
    text-decoration: none;
}
.rboImg {
	width: 15%;
	display: flex;
	justify-content: space-evenly;
}
